.page{
    margin-left: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color : #182d28;
    font-family: Lora;
}

.buttons{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right:50px;
    top:100px;
}

.buttons2{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right:50px;
    top:200px;
}

.parent {
    position: relative;
}

.image{
    width: 15%;
    position: absolute;
    top: 25%;
    left: 13%;
    z-index: 1;
}

#hoodie{
    width: 40%;
    display: none;
}

#tshirt{
    width: 42%;
    display: block;
}

#notebook{
    width:40%;
    display: none;
}

#hidden {
    visibility: hidden;
}