.body {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #d5d0bc;
}

.body-trimmed {
    width: 100%;
    margin-left: 5rem;
}

.body-md-screen {
    width: 100%;
    margin-left: 10.5625rem;
}
